div{
  background-color: #a3ddcb;
  /*text-align: center;*/
}

body{
  margin: 0;
}

h1{
  margin-top: 0;
}

.Top{
  background-color: #d4e2d4;
  margin-bottom: 10px;
  /*text-align: center;*/
}

.Middle{
  width: 200px;
  height: 200px;
  background-color: #e8e9a1;
  margin-bottom: 10px;
}

.Bottom{
  width: 200px;
  height: 200px;
  background-color: #e6b566;
}

.Specific{
  margin-bottom: 10px;
}
